WPFTablicaAplikacja/Service References/ServiceReference1/Tablica1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30030/Tablica?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KontraktServer" />
  <xs:element name="ListaPizz">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPizzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KontraktServer" minOccurs="0" name="ListaPizzResult" nillable="true" type="q1:ArrayOfPizza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="produkt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Dodaj">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KontraktServer" minOccurs="0" name="student" nillable="true" type="q2:Pizza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocPizza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="produkt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocPizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KontraktServer" minOccurs="0" name="ZwrocPizzaResult" nillable="true" type="q3:Pizza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wypisz">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="wypiszResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Wyslij">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyslijResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPizz2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPizz2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KontraktServer" minOccurs="0" name="ListaPizz2Result" nillable="true" type="q4:ArrayOfPizza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToConsole">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToConsoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>