WPFTablicaAplikacja/Service References/ServiceReference1/Tablica.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KontraktServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KontraktServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPizza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pizza" nillable="true" type="tns:Pizza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPizza" nillable="true" type="tns:ArrayOfPizza" />
  <xs:complexType name="Pizza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cena" type="xs:int" />
      <xs:element minOccurs="0" name="Produkt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skladniki" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pizza" nillable="true" type="tns:Pizza" />
</xs:schema>